/* .containerNav {
    text-align: center; */

/* .continent{
    display: flex;
    background-color: black;
}

.searchBar{
    display: flex;
    margin-top: 100px;
    background-color: pink;
}  */